.Form_Main{
    background-image: url(https://mcdn.wallpapersafari.com/medium/23/17/zBJw45.jpg);
    height: 740px;
}
.Form{
    width:1164px;
    margin: auto;
    border-radius: 10px;
    padding: 100px;
}
.Form_Top{
    text-align: center;
    color: white;
    font-family: cursive;
}
.Form_Mid{
    background-color: white;
}
.Form_Mid_button button{
    width:50%;
    padding: 20px;
}
.Form_Mid_Button_Left{
    background-color: transparent;
    outline: none;
    background-color: lightgray;
    font-family: Jazz LET, fantasy;
    letter-spacing: 2px;
}
.Form_Mid_Button_Left:hover{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: darkslategray;
    color: white;

}
.Form_Mid_Button_Right{
    background-color: transparent;
    outline: none;
    background-color: lightgray;
    font-family: Jazz LET, fantasy;
    letter-spacing: 2px;
}
.Form_Mid_Button_Right:hover{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: darkslategray;
    color: white;
}
.Form_mid_Entries{
    padding: 50px;
}
.Form_mid_Entries_Up{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: lightgray;
}
.Form_mid_Entries_Down{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: lightgray;
   
   
}
.label{
    min-width: 50px;
}
.Form_Mid_Input{
    border-radius: 30px;
}
.Form_Bottom{
    background-color: darkgray;
    padding: 15px;
    display: flex;
    justify-content: center;
}
.Form_Bottom button{
    background-color: darkslategray;
    padding: 8px;
    color: white;
    border-radius: 5px;
    outline: none;
}